*, *::before, *::after {
    box-sizing: border-box;
    margin: 5px;
    padding: 0px;
}

body {
    font-family: system-ui, sans-serif;
    background: #6ecbff;
    color: #0a1a24;
}

form {
  display: flex;
  flex-direction: column;
}

:root {
    --primary: #0a1a24; 
    --text:  #e8f7ff; 
}

.site-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #0a1a24;
    padding: 1.75rem 2rem;
    position: sticky;
    top: 0;
}

.logo {
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
}

.site-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.site-nav a {
    text-decoration: none;
    color: var(--text);
    padding: 1.5rem 1.75rem;
    border-radius: 8px;
    transition: background 0.3s;
}

.site-nav a:hover,
.site-nav a.active {
    background: var(--primary);
    color: #ffffff;
}
